.movie-poster-img {
	transform: scale(0.85);
	border-radius: 10px;
	transition: all ease 0.3s;
	cursor: pointer;
}

.movie-poster-img:hover {
	transform: scale(0.95) translateY(-30px);
}

.movie-poster-title {
	position: absolute;
}