.movie-poster-cntr {
	transform: scale(0.85);
	border-radius: 10px;
	transition: all ease 0.3s;
	cursor: pointer;
}

.movie-poster-animated:hover {
	transform: scale(0.95) translateY(-30px);
}

.movie-poster-title {
	opacity: 0;
	position: absolute;
	font-size: 30px;
	color: #000;
	text-align: center;
	height: 50%;
	padding: 20% 20px 20px;
	width: 100%;
	background: linear-gradient(to bottom, rgb(30,31,38, 0.7) 70%, transparent 100%);
	color: #e3f0ff;
	font-family: Oswald, sans-serif;
	font-size: 2rem;
	transition: all ease 0.2s;
}

.movie-poster-cntr:hover .movie-poster-title {
	opacity: 1;
}

@media (max-width: 750px) {
	.movie-poster-title span {
		display: none;
	}
}